
    <%= form_with(url: session_path, local: true) do |f| %>
        <div class="mt-2">
            <%= f.label(:email) %></label>
            <%= f.email_field(:email) %>
        </div>

        <div>
            <%= f.label(:password) %></label>
            <%= f.password_field(:password) %>
        </div>

            <%= f.submit "Sign In" %>
    <% end %>
