    <div class="form-group">
        <%= form_with(model: @idea, local: true) do |form| %>
            
            <% if @idea.errors.present? %>
                <p class="form-errors">
                    <%= @idea.errors.full_messages.join(", ") %>    
                </p>
            <% end %>

            <div class="form-group">
                <label for="title"><%= form.label :title %></label>
                <input type="text" class="form-control" placeholder="Enter a title for you idea (required)" ><%= form.text_field :title %>
            </div>

            <div class="form-group">
                <label for="description"><%= form.label :description %></label>
                <input type="text" class="form-control" placeholder="Enter a description for your idea (also required)"><%= form.text_area :description %>
            </div>

            <button type="submit" class="btn btn-primary m-2">
                <%= form.submit "Submit Idea"%>
            </button>
        <% end %>
    </div>
