<div class="card mt-2">
    <div class="card-body">
        <%= form_with(model: @idea, local: true) do |form| %>
            
            <% if @idea.errors.present? %>
                <p class="form-errors">
                    <%= @idea.errors.full_messages.join(", ") %>    
                </p>
            <% end %>

            <div class="card-title m-2">
                <%= form.label :title %>
                <%= form.text_field :title %>
            </div>

            <div class="card-text text-dark m-2">
                <%= form.label :description %>
                <%= form.text_area :description %>
            </div>

            <div class="btn btn-secondary m-2">
                <%= form.submit "Submit Idea"%>
            </div>
        <% end %>
    </div>
</div>