<h1>Sign Up</h1>

    <%= form_with(model: @user, local:true) do |f| %>
        <% if @user.errors.any? %>
            <p>
                <%= @user.errors.full_messages.join(", ") %>
            </p>
        <% end %>

        <div>
            <%= f.label(:first_name) %></label>
            <%= f.text_field(:first_name) %>
        </div>

        <div>
            <%= f.label(:last_name) %></label>
            <%= f.text_field(:last_name) %>
        </div>

        <div>
            <%= f.label(:email) %></label>
            <%= f.email_field(:email) %>
        </div>

        <div>
            <%= f.label(:password) %></label>
            <%= f.password_field(:password) %>
        </div>

        <div>
            <%= f.label(:password_confirmation)%></label>
            <%= f.password_field(:password_confirmation) %>
        </div>

            <%= f.submit "Sign Up" %>

    <% end %>
